<div class="col-lg-2" id="left-side">
  <%= render("player_and_forms") %>
</div>

<div class="col-lg-10" id="right-side">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
    <%= link_to "girar ruleta", {:controller => :index, :action => :spin_roulette, :round_id => @round.id, :remote => true}, {class: "btn btn-default btn-large btn-block"} %>
  </div>
</div>
